@import "globals/hack-variables.scss";

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    $right-gradient,
    $ember-orange,
    $ember-red,
    $ember-maroon
  );
  overflow-y: auto;
}
